<?xml version="1.0"?>
<config>
	<modules>
		<Quack_Cielo>
			<version>0.0.1</version>
		</Quack_Cielo>
	</modules>
	<global>
		<models>
			<qck_cielo>
				<class>Quack_Cielo_Model</class>
			</qck_cielo>
		</models>
		<blocks>
			<qck_cielo>
				<class>Quack_Cielo_Block</class>
			</qck_cielo>
		</blocks>
		<helpers>
			<qck_cielo>
				<class>Quack_Cielo_Helper</class>
			</qck_cielo>
		</helpers>
		<payment>
			<cc>
				<types>
					<DICL>
						<code>DICL</code>
						<name>Diners Club</name>
						<order>60</order>
					</DICL>
					<AU>
						<code>AU</code>
						<name>Aura</name>
						<order>70</order>
					</AU>
					<EL>
						<code>EL</code>
						<name>Elo</name>
						<order>80</order>
					</EL>
				</types>
			</cc>
		</payment>
	</global>
	<frontend>
		<layout>
			<updates>
				<qck_cielo>
					<file>qck_cielo.xml</file>
				</qck_cielo>
			</updates>
		</layout>
		<translate>
			<modules>
				<Quack_Cielo>
					<files>
						<default>Quack_Cielo_Frontend.csv</default>
					</files>
				</Quack_Cielo>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<qck_cielo>
					<file>qck_cielo.xml</file>
				</qck_cielo>
			</updates>
		</layout>
		<translate>
			<modules>
				<Quack_Cielo>
					<files>
						<default>Quack_Cielo_Backend.csv</default>
					</files>
				</Quack_Cielo>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<payment>
			<qck_cielo_dc>
				<active>0</active>
				<model>qck_cielo/payment_dc</model>
				<title>Cielo Debit</title>
				<cctypes>VI,MC</cctypes>
				<allowspecific>1</allowspecific>
				<api_id>1006993069</api_id>
				<api_key>25fbb99741c739dd84d7b06ec78c9bac718838630f30b112d033ce2e621b34f3</api_key>
				<api_environment>teste</api_environment>
				<product>A</product>
				<authorization>1</authorization>
			</qck_cielo_dc>
			<qck_cielo_cc>
				<active>0</active>
				<model>qck_cielo/payment_cc</model>
				<title>Cielo Credit</title>
				<cctypes>VI,MC,AE,DI,DICL,JCB</cctypes>
				<allowspecific>1</allowspecific>
				<api_id>1006993069</api_id>
				<api_key>25fbb99741c739dd84d7b06ec78c9bac718838630f30b112d033ce2e621b34f3</api_key>
				<api_environment>teste</api_environment>
				<product>1</product>
				<authorization>1</authorization>
			</qck_cielo_cc>
		</payment>
	</default>
</config>